<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid" >
      <div class="row">
        <app-sidebar></app-sidebar>
        <main role="main" class="col-md-6 ml-sm-auto col-lg-9 px-4">
          <div class="card mt-5">
            <div class="card-body">
                <img src="../../assets/JOBBY.png" alt="Imagen usuario" class="rounded-circle" height="100" width="100">
                <h3>Nombre: {{ username }} {{ datosUsuario.apellidos }}</h3>
                <iframe src="http://localhost:3000/d-solo/e812e043-b24b-47da-b483-282434da6128/new-dashboard?orgId=1&from=1697500800000&to=1697500800000&panelId=1" width="450" height="200" frameborder="0"></iframe>
            </div>
          </div>
          <!-- Main content here -->
        </main>
      </div>
    </div>
    
    <!-- JavaScript and Bootstrap JS -->
    
  </body>
</html>










    
    
    
    

    
      
    
  </body>
</html>