<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="row">
      <app-sidebar></app-sidebar>
  
      <main role="main" class="col-md-6 ml-sm-auto col-lg-9 px-4">
      <h1 class="text-center">Reseñas reportadas</h1>
      <table class="table table-striped table-inverse table-responsive" >
        <thead class="thead-inverse">
          <tr>
            <th>id reseña</th>
            <th>descripcion</th>
            <th>calificacion</th>
            <th>estado</th>
            <th>Fecha emision</th>
            <th>Fecha reporte</th>
            <th>Gestionar</th>
          </tr>
          </thead>
          <tbody *ngFor="let resena of resenasPorRevisar">
            <tr>
              <td scope="row">{{resena.id_resena}}</td>
              <td>{{resena.descripcion}}</td>
              <td><ng-icon name="heroStar" *ngFor="let i of getStarArray()" [name]="getStarIcon(i, resena.calificacion)"
                  class="heroStarSolid"></ng-icon></td>
              <td>{{resena.estado}}</td>
              <td>{{resena.created_at | date:'dd-MM-yyyy'}}</td>
              <td>{{resena.updated_at | date:'dd-MM-yyyy-hh:mm:ss'}}</td>
              <td><button class="btn btn-outline-primary" (click)="okButton(resena.id_resena)">Ok</button> &nbsp;&nbsp;<button class="btn btn-outline-danger" (click)="goToModificarResena(resena.id_resena)">Modificar comentario</button></td>
            </tr>
          </tbody>
      </table>
    </main>
    </div>

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>