<!doctype html>
<html lang="en">
  <head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    
  
  <div class="container mt-5">
    <h1 class="text-center">Bienvenido!</h1>
    <div class="card">
      <div class="card-title text-center">
      <h1>Iniciar sesion</h1>
      </div>
        <form (ngSubmit)="login()"  class="ml-4 mr-4">
          <div class="form-group">
            <label for="username">Correo electronico:</label>
            <input [(ngModel)]="username" required type="text"
              class="form-control" name="username" id="username" aria-describedby="helpId" placeholder="Correo electronico" >
            <small id="helpId" class="form-text text-muted">mensaje de error?</small>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input [(ngModel)]="password"
            required type="password"
              class="form-control" name="password" id="password" aria-describedby="helpId" placeholder="Password">
            <small id="helpId" class="form-text text-muted">mensaje de error?</small>
          </div>
          <input (click)="login()" name="" id="" class="btn btn-primary" type="button" value="Ingresar">
      </form>
    </div>
  </div>
  </body>


</html>
  

