<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <div class="row">
        <app-sidebar></app-sidebar>
        <main role="main" class="col-md-6 ml-sm-auto col-lg-9 px-4">
            <form (submit)="modificarResena()"  class="ml-4 mr-4">
                <!-- <div class="form-group">
                  <label for="calificacion">Calificacion</label>
                  <input required type="text"
                    class="form-control" name="calificacion" id="calificacion" aria-describedby="helpId" [(ngModel)]="resenaData.calificacion" disabled="true" >
                </div> -->
                <!-- <div class="form-group">
                  <label for="created_at">fecha emision reseña:</label>
                  <input required type="datetime"
                    class="form-control" disabled="true" name="created_at" id="created_at" aria-describedby="helpId" [ngModel]="resenaData.created_at | date:'YYY-MM-dd hh:mm:ss'">
                </div> -->
                <!-- <div class="form-group">
                  <label for="updated_at">fecha ultima actualizacion</label>
                  <input required type="datetime"
                    class="form-control" disabled="true" name="updated_at" id="updated_at" aria-describedby="helpId" [ngModel]="resenaData.updated_at  | date:'dd-MM-yyyy hh:mm:ss'">
                </div> -->
                <div class="form-group">
                  <label for="Descripcion">Descripcion</label>
                  <textarea  required type="text"
                    class="form-control" name="Descripcion" id="Descripcion" aria-describedby="helpId" [(ngModel)]="resenaData.descripcion"></textarea>
                </div>
                
                <div class="form-group">
                  <label for="estado">Estado:</label>
                  <textarea 
                  required type="text"
                    class="form-control" name="estado" id="estado" aria-describedby="helpId" [(ngModel)]="resenaData.estado"></textarea>
                  <small id="helpId" class="form-text text-muted">Tipos de estado: reportado, Ok.</small>
                </div>
                <input class="btn btn-primary" type="submit" value="Ingresar">
            </form>
        </main>
    </div>
   
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>